# Exercicio 01

Uma empresa quer calcular o número de itens vendidos a partir da receita da venda e do valor da unidade do produto. Além disso, precisa arredondar para cima o número de itens vendidos caso o valor não seja um número inteiro.

Suponha que a receita foi de 1000 reais e a unidade do produto é vendida a 15 reais. Quais dos códigos abaixo utilizam corretamente o método ceil da biblioteca math para realizar esse arredondamento?

In [2]:
from math import ceil

receita = 1000
unidades = 15

print(f"A empresa vendeu {ceil(receita/unidades)} unidades")

A emprea vendeu 67 unidades

# Exercicio 02

1) Escreva um código para instalar a versão 3.7.1 da biblioteca matplotlib.

2) Escreva um código para importar a biblioteca numpy com o alias np.

3) Crie um programa que lê a seguinte lista de números e escolha um número desta aleatoriamente.
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

4) Crie um programa que sorteia aleatoriamente um número inteiro menor que 100.

5) Crie um programa que solicite à pessoa usuária digitar dois números inteiros e calcular a potência do 1º número elevado ao 2º.

6) Um programa deve ser escrito para sortear uma pessoa seguidora de uma rede social para ganhar um prêmio. A lista de participantes é numerada e devemos escolher aleatoriamente um número de acordo com a quantidade de participantes.

Peça à pessoa usuária para fornecer o número de participantes do sorteio e devolva para ela o número sorteado.

7) Você recebeu uma demanda para gerar números de token para o acesso ao aplicativo de uma empresa. O token precisa ser par e variar de 1000 até 9998. Escreva um código que solicita à pessoa usuária o seu nome e exibe uma mensagem junto a esse token gerado aleatoriamente.

"Olá, [nome], o seu token de acesso é [token]! Seja bem-vindo(a)!"

8) Para diversificar e atrair novos clientes, uma lanchonete criou um item misterioso em seu cardápio chamado "salada de frutas surpresa". Neste item, são escolhidas aleatoriamente 3 frutas de uma lista de 12 para compor a salada de frutas da pessoa cliente.

Crie o código que faça essa seleção aleatória de acordo com a lista abaixo:

frutas = ["maçã", "banana", "uva", "pêra", 
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]
 
9) Você recebeu um desafio de calcular a raiz quadrada de uma lista de números, identificando quais resultaram em um número inteiro. A lista é a seguinte:

numeros = [2, 8, 15, 23, 91, 112, 256]

10) Faça um programa para uma loja que vende grama para jardins. Essa loja trabalha com jardins circulares e o preço do metro quadrado da grama é de R$ 25,00. Peça à pessoa usuária o raio da área circular e devolva o valor em reais do quanto precisará pagar.

In [4]:
# 01)
# !pip install matplotplib==3.7.1

ERROR: Could not find a version that satisfies the requirement matplotplib==3.7.1 (from versions: none)
ERROR: No matching distribution found for matplotplib==3.7.1

In [5]:
# 02)

import numpy as np

In [6]:
# 03)

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]
print(f"O numero escolhido foi: {np.random.choice(lista)}")

O numero escolhido foi: 12

In [7]:
# 04)

from random import randrange
randrange(100)

93

In [8]:
# 05)

from math import pow
numero1 = int(input("Digite um numero: "))
numero2 = int(input("Digite outro numero: "))

print(f"O valor da base é: {numero1}, o valor do expoente é: {numero2}, a potência é {pow(numero1,numero2)}")

Digite um numero: 2
Digite outro numero: 2
O valor da base é: 2, o valor do expoente é: 2, a potência é 4.0

In [9]:
# 06)

from random import randint

n = int(input("Digite o numero de participantes: "))

print(f"O valor escolhido foi: {randint(1,n)}")

Digite o numero de participantes: 5
O valor escolhido foi: 3

In [10]:
# 07)

from random import randrange

nome = input("Qual seu nome? ")

print(f"Olá {nome}, o valor do seu token é: {randrange(1000, 9998, 2)}")

Qual seu nome? Gustavo
Olá Gustavo, o valor do seu token é: 8876

In [11]:
# 08)

from random import choices

frutas = ["maçã", "banana", "uva", "pêra", "manga", "coco", "melancia", "mamão", "laranja", "abacaxi", "kiwi", "ameixa"]

salada = choices(frutas, k=3)

print(f"As frutas escolhidas para a salada foram : {salada[0]}, {salada[1]}, {salada[2]}")

As frutas escolhidas para a salada foram : ameixa, manga, coco

In [32]:
# 09)

from math import sqrt

numeros = [2, 4, 8, 15, 23, 91, 112, 256]

resultados_inteiros = []

for i in numeros:
    if sqrt(i) % 1 == 0:
        resultados_inteiros.append(i)

print(resultados_inteiros)

[4, 256]

In [34]:
# 10)

from math import pi

valor_m2 = 25

raio =float(input("Qual valor do raio? "))

area = pi*pow(raio, 2)

print(f"O valor da área é {area*valor_m2}")

Qual valor do raio? 5
O valor da área é 1963.4954084936207

# Exercicio 03

1) Escreva um código que lê a lista abaixo e faça:

lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

2) Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato: Tabuada do 7: 7 x 0 = 0 7 x 1 = 7 [...] 7 x 10 = 70

3) Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

Utilize o return na função e salve a nova lista na variável mult_3.

4) Crie uma lista dos quadrados dos números da seguinte lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].

Lembre-se de utilizar as funções lambda e map() para calcular o quadrado de cada elemento da lista.

5) Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas de skatistas em algumas competições ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.

Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram.

Retorne a média para apresentar o texto:

"Nota da manobra: [media]"

6) Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes, você precisa criar uma função que receba uma lista de 4 notas e retorne:

maior nota, menor nota, média, situação (Aprovado(a) ou Reprovado(a)) Para testar o comportamento da função, os dados podem ser exibidos em um texto: "O(a) estudante obteve uma média de [media], com a sua maior nota de [maior] pontos e a menor nota de [menor] pontos e foi [situacao]"

7) Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante concatenando-as para apresentar seus nomes completos na forma Nome Sobrenome.

As listas são: nomes = ["joão", "MaRia", "JOSÉ"] sobrenomes = ["SILVA", "souza", "Tavares"] O texto exibido ao fim deve ser parecido com: "Nome completo: Ana Silva"

8) Como cientista de dados em um time de futebol, você precisa implementar novas formas de coleta de dados sobre o desempenho de jogadores e do time como um todo. Sua primeira ação é criar uma forma de calcular a pontuação do time no campeonato nacional a partir dos dados de gols marcados e sofridos em cada jogo.

Escreva uma função chamada calcula_pontos que recebe como parâmetros duas listas de números inteiros, representando os gols marcados e sofridos pelo time em cada partida do campeonato. A função deve retornar a pontuação do time e o aproveitamento em percentual, levando em consideração que a vitória vale 3 pontos, o empate vale 1 ponto e a derrota 0 pontos.

gols_marcados = [2, 1, 3, 1, 0] gols_sofridos = [1, 2, 2, 1, 3]

"A pontuação do time foi de [pontos] e seu aproveitamento foi de [aprov]%"

9) Você recebeu o desafio de criar um código que calcula os gastos de uma viagem para um das quatro cidades partindo de Recife, sendo elas: Salvador, Fortaleza, Natal e Aracaju.

O custo da diária do hotel é de 150 reais em todas elas e o consumo de gasolina na viagem de carro é de 14 km/l, sendo que o valor da gasolina é de 5 reais o litro. O gastos com passeios e alimentação a se fazer em cada uma delas por dia seria de [200, 400, 250, 300], respectivamente.

Sabendo que as distâncias entre Recife e cada uma das cidades é de aproximadamente [850, 800, 300, 550] km, crie três funções nas quais: a 1ª função calcule os gastos com hotel (gasto_hotel), a 2ª calcule os gastos com a gasolina (gasto_gasolina) e a 3ª os gastos com passeio e alimentação (gasto_passeio).

Para testar, simule uma viagem de 3 dias para Salvador partindo de Recife. Considere a viagem de ida e volta de carro.

"Com base nos gastos definidos, uma viagem de [dias] dias para [cidade] saindo de Recife custaria [gastos] reais"

10) Você iniciou um estágio em uma empresa que trabalha com processamento de linguagem natural (NLP). Sua líder requisitou que você criasse um trecho de código que recebe uma frase digitada pela pessoa usuária e filtre apenas as palavras com tamanho maior ou igual a 5, exibindo-as em uma lista. Essa demanda é voltada para a análise do padrão de comportamento de pessoas na escrita de palavras acima dessa quantidade de caracteres.

Dica: utilize as funções lambda e filter() para filtrar essas palavras. Lembrando que a função embutida filter() recebe uma função (no nosso exemplo uma função lambda) e filtra um iterável de acordo com a função. Para tratar a frase use replace() para trocar a ',' '.', '!' e '?' por espaço.

In [38]:
# 01)

lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

print(f"A lista possui {len(lista)} números em que o maior número é {max(lista)} e o menor número é {min(lista)}. A soma dos valores pares presentes nela é igual a {sum(lista)}")

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores pares presentes nela é igual a 743

In [40]:
# 02)

def calculo ():
    x = int(input("Qual valor deseja inserir? "))
    if x >= 1 and x <=10:
        for i in range(11):
            y = x * i
            print(f"{x} X {i} = {y}")
    else:
        print("Resposta não está entre 1 e 10")
calculo()

Qual valor deseja inserir? 3
3 X 0 = 0
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [42]:
# 03)

lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
lista2 = []

def funcao (lista):
    for i in lista:
        if i % 3 == 0:
            lista2.append(i)
    return lista2

lista2 = funcao(lista)
lista2

# Ou 

lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
lista2 = []

def funcao (lista:list) -> list:
    for i in range (len(lista)):
        if lista[i] % 3 ==0:
            lista2.append(lista[i])
    return lista2
lista2 = funcao(lista)
lista2

[24, 99]

In [43]:
# 04)

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

quadrados = lambda x: x ** 2

calculo = list(map(quadrados,lista))
calculo

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
# 05)

notas = []

for i in range(1,6):
    nota = int(input(f"Qual valor da {i} nota? "))
    notas.append(nota)

def remover (lista):
    lista.remove(min(notas))
    lista.remove(max(notas))
    
    return sum(notas)/len(notas)
media = remover(notas)

print(f"Nota da manobra: {media}")

Qual valor da 1 nota? 5
Qual valor da 2 nota? 6
Qual valor da 3 nota? 7
Qual valor da 4 nota? 8
Qual valor da 5 nota? 9
Nota da manobra: 7.0

In [45]:
# 06)

import statistics
lista = []
for i in range(1,5):
    nota = float(input("Nota: "))
    if nota >= 0 and nota <= 10:
        lista.append(nota)
    else:
        print("Nota precisa ser maior que zero e menor que 10")
        break
def desempenho (lista):
    if len(lista) > 0 and len(lista) < 5:
        min1 = min(lista)
        max2 = max(lista)
        mean = statistics.mean(lista)
        aprovado = ""
        if mean > 6:
            aprovado = "Aprovado"
        else:
            aprovado = "Reprovado"
        return (min1,max2,mean,aprovado)
    else:
        print("Lista Invalida")

min1,max2,mean,aprovado = desempenho(lista)

print(f"O(a) estudante obteve uma média de {mean}, com a sua maior nota de {max2} pontos e a menor nota de {min1} pontos e foi {aprovado}")

Nota: 8
Nota: 9
Nota: 7
Nota: 6
O(a) estudante obteve uma média de 7.5, com a sua maior nota de 9.0 pontos e a menor nota de 6.0 pontos e foi Aprovado

In [46]:
# 07)

nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

nome_completo = list(map(lambda x, y: x.capitalize() + " " + y.capitalize(), nomes, sobrenomes))
print(nome_completo)

['João Silva', 'Maria Souza', 'José Tavares']

In [47]:
# 08)

gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

def calcula_pontos(lista_marcados, lista_sofridos):
    total_pontos = 0
    for i in range(len(lista_marcados)):
        pontuacao = lista_marcados[i] - lista_sofridos[i]
        if pontuacao >= 1:
             total_pontos += 3
        elif pontuacao == 0:
             total_pontos += 1
    aprov = 100 * total_pontos / (len(lista_marcados) * 3)
    return (total_pontos, aprov)
total_pontos, aprov = calcula_pontos(gols_marcados, gols_sofridos)
print(f"A pontuação do time foi de {total_pontos} e seu aproveitamento foi de {round(aprov)}%")

A pontuação do time foi de 7 e seu aproveitamento foi de 47%

In [48]:
# 09)

custo_hotel = 150 # reais
consumo_gasolina = 14 # km/l
valor_gasolina = 5 # reais
gastos_restantes = [200, 400, 250, 300, 500]
distancia = [850, 800, 300, 550, 1200]
cidades = ["Salvador","Fortaleza","Natal","Aracaju","Floripa"]

def cidade(lista):
    qual_cidade = input("Qual cidade? ").lower()
    for cidade in lista:
        if cidade.lower() == qual_cidade:
            return lista.index(cidade)
    else:
        print("Insira uma cidade válida")
qual_cidade = cidade(cidades)
     
def gasto_hotel(custo):
    numero_dias = int(input("Quanto dias irá ficar na cidade? "))
    if numero_dias > 0:
        calculo = custo * numero_dias
        return (calculo, numero_dias)
    else:
        print("Insira um valor válido")

calculo, numero_dias = gasto_hotel(custo_hotel)

def gasto_gasolina(lista: list) -> list:
    valor = []
    for i in range(len(lista)):
        valor.append((2* lista[i] / 14)*5)    
    return(valor)
valor = gasto_gasolina(distancia)

def gasto_passeio(lista: list) -> list:
    valor_gasto = []
    for i in range(len(lista)):
        valor_gasto.append((lista[i] * numero_dias))
    return(valor_gasto)
valor_gasto = gasto_passeio(gastos_restantes)

valor_final = valor_gasto[qual_cidade] + valor [qual_cidade] + calculo


print(f"Com base nos gastos definidos, uma viagem de {numero_dias} dias para {cidades[qual_cidade]} saindo de Recife custaria {round(valor_final,2)} reais")

Qual cidade? Salvador
Quanto dias irá ficar na cidade? 8
Com base nos gastos definidos, uma viagem de 8 dias para Salvador saindo de Recife custaria 3407.14 reais

In [51]:
# 10)

def adicionar():
    frases = []
    while True:
        x = input("Você deseja adicionar uma frase? ")
        if x.lower() == "sim":
            y = input("Qual frase deseja adicionar?")
            y = y.replace(',',' ').replace('.',' ').replace('!',' ').replace('?',' ').split()
            frases.append(y)
        else:
            print("Obrigado")
            break
    return ([palavra for frase in frases for palavra in frase if len(palavra) >= 5])


frases = adicionar()
x = list(filter(lambda x: len(x) >= 5, frases))
print(x)

Você deseja adicionar uma frase? sim
Qual frase deseja adicionar?hoje é um otimo dia para escrever sobre programação
Você deseja adicionar uma frase? nao
Obrigado
['otimo', 'escrever', 'sobre', 'programação']

# Exercicio 04

1) Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:

lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

2) Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

3) A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

4) Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

5) Crie um dicionário usando o dict comprehension em que as chaves estão na lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] e os valores estão na lista despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

6) Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:

vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

7) Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

Glicose igual ou inferior a 70: 'Hipoglicemia' Glicose entre 70 a 99: 'Normal' Glicose entre 100 e 125: 'Alterada' Glicose superior a 125: 'Diabetes' A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

8) Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4] preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha um id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela

9) Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil. Em uma das tabelas de cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence: estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG'].

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.

A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista.

Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um Estado com valores repetidos.

10) Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de funcionários e o gestor gostaria de ter um agrupamento da soma de funcionários para cada estado. As informações contidas na tabela são:

funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos Estados únicos e os valores são as listas com o número de funcionários referentes ao Estado. Crie também um dicionário em que as chaves são os nomes dos Estados e os valores são a soma de funcionários por Estado.

In [52]:
# 01)

lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

for elemento in lista_de_listas:
    print(sum(elemento))

24
10
16

In [53]:
# 02)

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
lista = []

for i in range(len(lista_de_tuplas)):
    lista.append(lista_de_tuplas[i][2])
lista

[81, 67, 83]

In [54]:
# 03)

lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

lista_tupla = []

for i in range(len(lista)):
    lista_tupla.append((i, lista[i]))
lista_tupla

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [55]:
# 04)

aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

lista = [valor[1] for valor in aluguel if valor[0] == 'Apartamento']
lista

[1700, 1400, 1900]

In [56]:
# 05)

meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

dicionario = {meses[i]: despesa[i] for i in range(len(meses))}
dicionario

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [57]:
# 06)

vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

lista = [valor[1] for valor in vendas if valor[0] == '2022' and valor[1] >= 6000]
lista

[8883, 7688, 9544, 8190]

In [58]:
# 07)

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
resultado = ["Hipoglicemia" if glicemia < 70 else "Normal" if glicemia >= 70 and glicemia < 90 else "Alterada" if glicemia > 100 and glicemia < 125 else "Diabetes" for glicemia in glicemia]

# Resultado proposto
#x = [("Hipoglicemia",glicemia) if glicemia <= 70 else ('Diabetes', glicemia) for glicemia in glicemia]
#x

resultado = list(zip(resultado,glicemia))
resultado

[('Diabetes', 129),
 ('Normal', 82),
 ('Hipoglicemia', 60),
 ('Diabetes', 97),
 ('Alterada', 101),
 ('Hipoglicemia', 65),
 ('Hipoglicemia', 62),
 ('Diabetes', 167),
 ('Normal', 87),
 ('Hipoglicemia', 53),
 ('Hipoglicemia', 58),
 ('Diabetes', 92),
 ('Hipoglicemia', 66),
 ('Alterada', 120),
 ('Alterada', 109),
 ('Hipoglicemia', 62),
 ('Normal', 86),
 ('Diabetes', 96),
 ('Alterada', 103),
 ('Normal', 88),
 ('Diabetes', 155),
 ('Hipoglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

In [59]:
# 08)

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

cabecalho = ['id','quantidade','preco','total']
cabecalho += [(id[i],quantidade[i],preco[i],quantidade[i]*preco[i]) for i in range(len(id))]
cabecalho

['id',
 'quantidade',
 'preco',
 'total',
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

In [60]:
# 09)

estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

estados_unicos = list(set(estados))

lista_de_listas = []

for estado in estados_unicos:
    lista = [uf for uf in estados if uf == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

contagem_valores = {estados_unicos[i]: len(lista_de_listas[i]) for i in range(len(estados_unicos))}

print(contagem_valores)

[['RJ', 'RJ'], ['ES', 'ES', 'ES', 'ES', 'ES', 'ES'], ['SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP'], ['MG', 'MG', 'MG', 'MG', 'MG', 'MG', 'MG']]
{'RJ': 2, 'ES': 6, 'SP': 8, 'MG': 7}

In [ ]:
# 10)

funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]


# Armazenando os estados sem repetição de valor
estados_unicos = list(set([tupla[0] for tupla in funcionarios]))

# Criando uma lista de listas com valores de funcionários de cada estado
lista_de_listas = []
for estado in estados_unicos:
    lista = [tupla[1] for tupla in funcionarios if tupla[0] == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

# Criando um dicionário com dados agrupados de funcionário por estado
agrupamento_por_estado = {estados_unicos[i]: lista_de_listas[i] for i in range(len(estados_unicos))}
print(agrupamento_por_estado)

# Criando um dicionário com a soma de funcionários por estado
soma_por_estado = {estados_unicos[i]: sum(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(soma_por_estado)